
		<%= image_tag "quiz.png" %>
		<br/>
		<br/>
		<br/>
		<p> <h3>Quiz down! is the one of the biggest websites that allows you to play quizzes online. Quiz down! grows daily and everyday new topics are inserted. It is famous among all age groups and is the most visited website in India. </h3></p>